.top {
  display: grid;
  background: -moz-linear-gradient(left, #dd0495 14%, #aa06e5 83%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #dd0495 14%,#aa06e5 83%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #dd0495 14%,#aa06e5 83%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd0495', endColorstr='#aa06e5',GradientType=1 ); /* IE6-9 */
  left:0; right:0; top: 0;
  height: 120px 100%;
}

h1 {
color: white;
padding-left: 30px;
padding-top: 15px;  
}


.main {
display: block;
width: 200px;
margin: 50px auto 0;
padding-top: 50px;
}

.textDiv {
display: inline-block;
margin: 15px;

}



@media only screen and (min-width: 700px) {

  .top {
    position:absolute;
    background-color: purple;
    left:0; right:0; top: 0;
    height: 120px;
}

.main {
  display: block;
  width: 400px;
  margin: 100px auto 0;
  padding-top: 100px;
}

h1 {
    color: white;
    position: absolute;
    padding-left: 500px;
    padding-top: 15px;  
}


.textDiv {
  display: inline-block;
  margin: 15px;
  
}

.todos {
  padding-left: 500px;
  height: 100%
}
  

}